* {
  border: 1px solid gold;
  margin: 0;
}

body {
  font-family: 'Hind Siliguri', sans-serif;
  background-color: #D5D5D5;
}

/* font-family: 'Poiret One', cursive;
font-family: 'Hind Siliguri', sans-serif; */

/* =========== */
/* HEADER */
/* =========== */

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header h1 {
  margin: 0;
  padding: 10px;
  justify-content: flex-start;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  font-size: 3em;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav > ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  flex-wrap: wrap;
}

.nav > ul > li {
  padding-left: 20px;
  font-size: 20px;
}

.nav > ul > li:hover {
  color: red;
}

/* =========== */
/* WELCOME */
/* =========== */

.welcome-image{
  width: 100%;
  display: flex;
  object-fit: contain;
  align-items: center;
}

.welcome-image > img {
  width: 100%;
  height: 100%;
  position: relative;
}

.welcome-image > h2 {
  position: absolute;
  z-index: 1;
  color: white;
  font-size: 2em;
  padding-left: 15%;
  padding-right: 15%;
}

.sessions-footer {
  display: flex;
  justify-content: center;
}

.sessions-footer > button {
  width: 300px;
  height: 50px;
  margin: 10px 30px;
  font-size: 20px;
}

/* =========== */
/* FOOTER */
/* =========== */

footer {
  text-align: center;
}

/* =========== */
/* EXERCISE AND WORKOUT INDEX */
/* =========== */

.exercises-index, .workouts-index {
  text-align: center;
}

.exercise-index-card-container, .workout-index-card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.exercise-index-card, .workout-index-card {
  margin: 5px;
  flex-direction: column;
  width: 300px;
  height: 300px;
  overflow: hidden;
}

.exercise-index-card > img, .workout-index-card > img  {
  /* width: 300px; */
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}

/* =========== */
/* WORKOUT & EXERCISE SHOW */
/* =========== */

.workouts-show, .exercises-show {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.workout-show-left, .exercise-show-left {
  width: 48%;
}

.workout-show-left > img, .exercise-show-left > img {
  width: 100%;
}

.workout-show-right, .exercise-show-right {
  width: 48%;
}


/* =========== */
/* WORKOUT EXERCISES */
/* =========== */

.workout-exercises {
  width: 100%;
  color: red;
}

/* ADD EXERCISES */

.exercise-index-card-workouts {
  margin: 5px;
  flex-direction: column;
  width: 300px;
  height: 400px;
  overflow: hidden;
}

.exercise-index-card-workouts > img {
  /* width: 300px; */
  object-fit: cover;
  object-position: center;
  height: 80%;
  width: 100%;
}
