<div class="welcome">
  <div class="welcome-message">
    <h2><span>SERVE YOUR CLIENTS BETTER</span></br>CUSTOMIZE YOUR CLASSES DIGITALLY FOR A MORE EFFECTIVE WORKOUT</h2>
    <img src="public/images/weights.jpg"></img>
  </div>
  <div class="sessions-footer">
    <button type="button" name="button">LOG IN</button>
    <button type="button" name="button">SIGN UP</button>
  </div>
  <div ng-include="'./public/partials/footer.html'"></div>
</div>

<!-- customize your classes digitally for a more effective workout -->
