<div class="exercises-show">
  <div class="exercise-show-left">
    <img ng-src="{{ctrl.exercise.image}}"></img>
  </div>
  <div class="exercise-show-right">
    <h2>{{ctrl.exercise.title}}</h2>
    <div class="exercise-show-right">
      <div>
        Intensity
        <div>
          {{ctrl.exercise.intensity}}
        </div>
      </div>
      <div>
        Focus
        <div>
          {{ctrl.exercise.focus}}
        </div>
      </div>
      <div>
        How To
        <div>
          {{ctrl.exercise.description}}
        </div>
      </div>
      <button ng-click="ctrl.openExerciseEdit(ctrl.exercise)" type="button" name="button">EDIT</button>
      <button ng-click="ctrl.deleteExercise(ctrl.exercise)" type="button" name="button">DELETE</button>
    </div>
  </div>
</div>
